In [9]:
import os
import pymysql

import mwapi
import pandas as pd

In [12]:
cats = pd.read_csv('data/categories.csv')

In [22]:
maintenance_cats = ['Autobiographical_articles','Articles_with_weasel_words',
                    'All_articles_with_peacock_terms','Articles_with_a_promotional_tone',
                    'Wikipedia_articles_needing_factual_verification',
                   'Wikipedia_articles_in_need_of_updating','NPOV_disputes','Accuracy_disputes',
                   'Articles_that_may_contain_original_research','Articles_lacking_reliable_references',
                   'Articles_needing_additional_references']

In [28]:
','.join(maintenance_cats)

'Autobiographical_articles,Articles_with_weasel_words,All_articles_with_peacock_terms,Articles_with_a_promotional_tone,Wikipedia_articles_needing_factual_verification,Wikipedia_articles_in_need_of_updating,NPOV_disputes,Accuracy_disputes,Articles_that_may_contain_original_research,Articles_lacking_reliable_references,Articles_needing_additional_references'

In [26]:
cats

         cl_from                                              cl_to
0        6368510                Biography_articles_of_living_people
1        6368510         C-Class_Elections_and_Referendums_articles
2        6368510                         C-Class_Venezuela_articles
3        6368510                  Mid-importance_Venezuela_articles
4        6368510                                    Noindexed_pages
...          ...                                                ...
999995  18790113             Low-importance_London-related_articles
999996  18790113  Low-importance_biography_(sports_and_games)_ar...
999997  18790113                   Mid-importance_football_articles
999998  18790113        Mid-importance_football_in_England_articles
999999  18790113                                    Noindexed_pages

[1000000 rows x 2 columns]